<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Daftar</h2>
            <p class="card-description">
                Isi data anda untuk membuat akun
            </p>
        </div>
        <div class="card-content">
            <form>
                <div class="form-group">
                    <label for="email">Nama lengkap</label>
                    <input type="text" id="username" placeholder="nama" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="email@example.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="password-conf">Konfirmasi Password</label>
                    <input type="password" id="password-conf" required>
                </div>

        </div>
        <div class="card-footer">
            <button type="submit">Buat Akun</button>
        </div>
        </form>
    </div>
    </div>

</body>

</html>